<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Us</title>
</head>
<body>
  {% extends "index.html" %}
  {% block content %}

  <h1> About Us </h1>
  <p> This is a very simple pipeline with gitlab-ci helm.</p>

  {% endblock %}
</body>
</html>
