<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Automating pipeline with</title>
</head>
<body>
  {% extends "index.html" %}
  {% block content %}

  <h1> Gitlab and Helm are great!! </h1>
  <h1> Working at adorsys is great!! </h1>
  <p> Helm is Fun </p>

  {% endblock %}
</body>
</html>
