<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Parent Template</title>
  <link rel="stylesheet" href="{{ url_for('static',     filename='css/template.css') }}">
</head>
<body>
<header>
  <div class="container">
    <h1 class="logo">CI/CD with helm</h1>
    <strong><nav>
      <ul class="menu">
        <li><a href="{{ url_for('main') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
      </ul>
    </nav></strong>
  </div>
</header>

{% block content %}
{% endblock %}

</body>
</html>
